header {
    display: flex; /*Let the divs in line, side by side*/
    justify-content: space-between; /*space between divs (left and right)*/
    align-items: center; /*Align items to the center of the div*/
    padding: 30px 0; /*Put a little space in the div height*/
}

/*Changing color of "Social Media Dashboard" title*/
header .title-box .title {
    color: var(--ColorDark);
}

/*Changing color and setting bold in subtitle*/
header .title-box p {
    color: var(--ColorDarkLight);
    font-weight: 700;
}

/*Customizing the toggle part*/
header .toggle-mode {
    display: flex;
    align-items: center;
    color: var(--ColorDarkLight);
    font-weight: 700;
    font-size: 16px;
}

/*Setting the toggle button*/
header .toggle-mode input[type=checkbox] {
    -webkit-appearance: none; /*Removing button layout, eliminating the check box visual*/
    width: 90px;
    height: 40px;
    border-radius: 100px; /*Making the border rounded*/
    margin-left: 20px;
    background: var(--ToggleBtnDark);
    cursor: pointer; /*Setting mouse cursos as a hand while on the button*/
    outline: 0; /*Removing the border line*/
    position: relative; /*To set position to the little circle that will be inside the btn*/
}

/*Setting the toggle circle inside the toggle button*/
header .toggle-mode input[type=checkbox]::before {
    content: ''; /*Nothing will be added inside the circle*/
    height: 40px;
    width: 40px;
    border-radius: 50px; /*Making the border rounded*/
    transform: translateX(50px) scale(0.8); /*Setting the scale as 80% to reduce it size*/
    transition: 0.3s;
    background: var(--BgLight);
    position: absolute; /*To set position inside in the toggle button*/
}

header .toggle-mode input[type=checkbox]:checked::before {
    transform: translateX(0) scale(0.8);
    
}

main .followers,
main .grid-overview {
    display: grid; /*Using grid to make it easier align the cards*/
    grid-template-columns: 1fr 1fr 1fr 1fr; /*1fr is automatic, all cards will be using the same space*/
    grid-gap: 30px; /*Defining space between cards*/
}

/*Setting style for all social media cards*/
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 8px;
    cursor: pointer;
    background: var(--BgLightCard);
    position: relative; /*Same logic used in the toggle button*/
}

.card:hover {
    background: var(--BgLightCardHover);
}

/*This pseud element will be the little top border of each social media card*/
main .followers .card::before {
    position: absolute;
    content: '';
    height: 5px;
    border-radius: 8px 8px 0 0; /*Top left / Top Right / Bottom left / Bottom right*/
    left: 0;
    right: 0;
    top: 0;
}

/*Setting border colors for followers card*/
.card.facebook::before {
    background: var(--Facebook);
}

.card.twitter::before {
    background: var(--Twitter);
}

.card.instagram::before {
    background: var(--Instagram);
}

.card.youtube::before {
    background: var(--YouTube);
}

/*Setting username information*/
.card .username {
    display: flex;
    justify-content: center;
    color: var(--ColorDarkLight);
}

.card .username img {
    margin-right: 10px;
}

/*Setting followers label*/
.card .count-followers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 25px;
    color: var(--ColorDarkLight);
    letter-spacing: 5px;
    text-transform: uppercase;
}

/*Setting followers qty information */
.card .count-followers span {
    color: var(--ColorDark);
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -3px;
}

/*Setting 'XX' Today part*/
.card span {
    display: flex;
    align-items: center;
    color: var(--LimeGreen);
    font-weight: 700;
}

/*To make red Youtube Today part*/
.card span.down {
    color: var(--BrightRed);
}

/*To put some space between the arrow and the word 'Today' */
.card span img {
    margin-right: 5px;
}

main .overview {
    margin-top: 35px;
}

main .overview h2{
    color: var(--ColorDark);
    font-size: 1.7em;
}

.grid-overview {
    margin-top: 20px 0;
}

.grid-overview .card .tittle-card {
    margin-bottom: 20px;  
}

.grid-overview .card .tittle-card span {
    font-size: 1.1em;
    color: var(--ColorDarkLight);  
}

.grid-overview .card .tittle-card,
.grid-overview .card .text-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.grid-overview .card .text-card {
    align-items: baseline;
}

.grid-overview .card .text-card p {
    font-size: 2.8em;
    font-weight: 700;
    color: var(--ColorDark);
}

.attribution {
    font-size: 14px;
    text-align: center;
    color: white;
    margin-top: 30px;
}